.radioCheckbox__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-form-group__inner {
    display: flex;
    flex-wrap: wrap;
    margin-block: 10px;
    // gap: 15px;
    justify-content: center;
    // width: 100%;
}